@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
html, body {
  height: 100%;
}
#__next, main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.swiper-pagination-bullet {
  background: gray !important;  /* Default color */
  width: 10px;
  height: 10px;
  opacity: 0.7;
}

/* Change Swiper Navigation Button Colors */
.swiper-button-prev, .swiper-button-next {
  color: rgb(60, 58, 187) !important;  /* Change to any color */
  z-index: 100;
  font-size: 8px !important;
  
}

/* Hover effect */
.swiper-button-prev:hover, .swiper-button-next:hover {
  color: #FFC000 !important;
}

/* Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
  height: 8px; /* Controls thickness */
}
.scrollbar::-webkit-scrollbar-track {
  background: #1a202c; /* Dark background */
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #4a5568; /* Gray thumb */
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Lighter gray on hover */
}

/*image zoom css*/
.zoom-container{
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
}
.normal-zoom {
  transition: transform 0.3s ease;
}

.full-zoom {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
